<footer class="footer">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-4">
            <h5>
              <small>Mojo - Todos los derechos reservados.</small>
            </h5>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-4">
            <img src="./assets/img/yt-certified-AMARILLO.png">
          </div>
          <div class="col-xs-12 col-md-12 col-lg-4">
            <span class="icon-style">
              <i class="fab fa-facebook-f"></i>
            </span>
            <span class="icon-style">
              <i class="fab fa-twitter"></i>
            </span>
            <span class="icon-style">
              <i class="fab fa-instagram"></i>
            </span>
          </div>
      </div>
    </div>
</footer>
